section{
    width: 100%;

    .content{
        overflow-x: hidden;
        overflow-y: auto;
        display: block;
        height: 95%;
        margin:var(--xl)  0 var(--xl) var(--xl);

        &.dash{
            span.title{
                font-size: var(--md);
            }

            .frost-unload{
                animation: animate-skeleton-screen-gradient 1.5s linear infinite;
                background: linear-gradient(-45deg,#DADADA 40%,#F8F6F7 50%,#FAFAFA 52%,#F8F6F7 54%,#DADADA 60%);
                background-position: 118% 4%;
                background-size: 500% 500%;
                width: 100%;
                height: 226px;
                margin-bottom: var(--md);
            }

            @keyframes animate-skeleton-screen-gradient{
                0%,
                50%{background-position:0 50%}
                100%{background-position:100% 51%}
            }

            .title {
                font-size: 26px;
                text-transform: uppercase;
                font-weight: bold;
                color:rgb(102, 102, 102);
            }

            .donates {
                padding: 0 calc(var(--lg)*1.25);
                .donate-result{
                    background: var(--third-color);
                    border-radius: var(--bnormal);
                    color: #fff;
                    font-size: var(--lg);
                    font-weight: 700;
                    margin: var(--md) 0;
                    padding: var(--lg);
                    width: auto;
                    position: absolute;
                }
            }
        }

        i{
            font-size: calc(var(--md) * 1.25);
        }

        .actions{
            display:flex;
            justify-content: space-between;

            .action-create {
                display: flex;
                align-items: center;
                cursor: pointer;
                    &:hover{
                        transition: var(--fast);
                        transform: scale(1.1);
                    }
                i{
                    margin: 0 var(--md);
                }
            }
        }

        .list-inside-content{
            height: 20vh;
            overflow-y: auto;
            overflow-x: hidden;
            margin: var(--md) 0 0 0;
            .list-editors{
                .item-editor{
                    display: flex;
                    justify-content: space-between;
                    margin: var(--sm) 0;

                    .title{
                        font-weight: bold;
                        margin: 0 var(--md) 0 0;
                        padding: 0 var(--md) 0 0;
                        border-right: 1px solid;
                    }
                    .subtitle{
                        font-size: var(--sm);
                    }

                    .action-editors{
                        display: flex;
                        i{
                            margin:  0 var(--sm);
                        }
                    }
                }
            }
        }

        .content-creator{
            height: 55vh;
            display: flex;
            width: 100%;
            flex-direction: column;
        }
    }
}