.notifications-controller{
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 1%;
    //width: 250px;
    display: flex;
    flex-direction: column;

    .notification{
        //margin: 1%;
        transform: translateX(0);
        color:white;
        font-weight: bold;
        z-index: 999;

        progress{
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            height: 5px;
            &::-webkit-progress-bar {
                background: rgba(0, 0, 0, 0.15);
            }
        }
    
        animation: showNote .5s forwards;
    
        &.hide{
            animation: hideNote 1.5s forwards;
        }
    
        &.success{
    
            background: var(--success);
            padding: var(--lg);

            progress{
                &::-webkit-progress-value{
                    background: var(--third-color);
                }
            }
    
        }
    
        &.error{
    
            background: var(--error);
            padding: var(--lg);

            progress{
                &::-webkit-progress-value{
                    background: var(--danger-color);
                }
            }
    
        }
    
    }
}



@keyframes showNote {
    from{
        transform: translateX(100vw);
    }
    to{
        transform: translateX(0);
    }
}

@keyframes hideNote {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(100vw);
    }
}